.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px 30px;
  min-height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: 'Inter', sans-serif;
}

.title {
  font-size: 64px;
  border-radius: 12px;
  background-color: #404040;
  padding: 8px 35px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

  & span {
    &:nth-child(1) {
      color: #FFDE17;
    }
  
    &:nth-child(2) {
      color: #EF2B7D;
    }
  
    &:nth-child(3) {
      color: #00ADEF;
    }
  }
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.wheel {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}

.wheel button {
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #404040;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 10;
}

.wheel img {
  width: 70px;
  height: 90px;
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 74px);
}

.arrow {
  position: absolute;
  top: -20px;
  left: calc(50% - 13px);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 30px;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputs input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 150px;
}

.inputs input[type="color"] {
  padding: 6.5px 8px;
  width: 100px;
}

.buttons {
  display: flex;
  gap: 16px;
}

.controls button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #404040;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.controls button:hover {
  background-color: #333333;
}

.dataList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  max-width: 450px;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 8px;
}

.data input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  width: 100px;
}

.data input[type="text"] {
  width: 180px;
}

.data input[type="color"] {
  padding: 6.5px 8px;
  width: 50px;
}

.data button {
  padding: 8px;
  border: none;
  border-radius: 8px;
  background-color: #ff4d4d;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.data button:hover {
  background-color: #e60000;
}